<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Microblog</title>
    <link rel="stylesheet" href="/static/css/styles.css"/>
</head>
<body>
    <header class="navbar">
        <div class="navbar_brand">
            <img src="/static/logo.svg" class="navbar_logo" alt="Microblog logo"/>Microblog
        </div>
        <ul class="navbar_navigation">
            <li class="navbar_navigation-item"><a href="#" class="navbar_link">Recent</a></li>
            <li class="navbar_navigation-item"><a href="#" class="navbar_link">Calender</a></li>
        </ul>
    </header>
    <main class="main">
        <section>
            <h1>Add new entry</h1>
            <form class="form" method="POST">
                <p class="form_input">
                    <label for="sample-field" class="form_label">Entry Content</label>
                    <textarea type="text" name="content" id="entry" class="form_textarea"></textarea>
                </p>
                
                <button type="submit" class="form_submit">Submit</button>
            </form>
        </section>
        <section>
             <h1>Recent posts</h1>
             {% for entry in entries%}
             <article class="entry">
                <div>
                    <h2 class="entry_title">{{entry[0] | truncate(30,true)}}</h2>
                    <time class="entry_date" datetime="24-03-2023">. {{entry[2]}}</time>
                </div>
                <p class="entry_content">{{entry[0]}}</p>
             </article>
             {% endfor %}
        </section>
    </main>
    <footer class="footer">
        <div class="footer_content">
            <section class="left">
                <a class="footer_item">Made by Pallavi</a>
                <a class="footer_item">Check this link</a>
            </section>
            <section class="right">
                <div class="footer_column">
                    <a href="" class="footer_item">Recent</a>
                    <a href="" class="footer_item">Calender</a>
                </div>
                <div class="footer_column">
                    <a href="" class="footer_item">About</a>
                    <a href="" class="footer_item">How this was made</a>
                </div>
            </section>
        </div>

    </footer>
</body>
</html>